<?xml version="1.0" encoding="utf-8"?>
<Configuracao>
  <DefaultValues>
    <IgrejaTitulo></IgrejaTitulo>
    <IDVersiculoPadrao>1</IDVersiculoPadrao>
    <IDVersiculoUltimo>116299</IDVersiculoUltimo>
    <IDHinoUltimo></IDHinoUltimo>
  </DefaultValues>
  <Folders>
    <BackupFolder></BackupFolder>
    <CopyAllNewFilesToBackup>true</CopyAllNewFilesToBackup>
  </Folders>
  <Colors>
    <TopTitleColor></TopTitleColor>
    <PrincipalBackColor></PrincipalBackColor>
    <PrincipalBackImage></PrincipalBackImage>
    <PrincipalBackgroundImageLayout></PrincipalBackgroundImageLayout>
  </Colors>
</Configuracao>